table, td, th {
	border: 0.5mm solid #000;
	text-align: center;
	border-spacing: 0;
}
th {
	font-size: 10pt;
}
a {
	text-decoration:none;
	color:#000;
}
img.nav-prev,img.nav-next {
	    display:none;
}
#uMessages {
	display:none;
}
