th {
	font-size: 10pt;
}
div.dateGrille {
	float: left;
	width: 50%;
	border-right: .2mm solid #000;
}
div.shift {
	font-size: 14pt;
}
.vacances {
	height: 0;
	border: 1mm solid #00f;
}
.charge {
	height: 0;
	border: 1mm solid #f00;
}
.notvacances {
	height: 0;
	border: 1mm solid #fff;
}
.notcharge {
	height: 0;
	border: 1mm solid #fff;
}
td.nom {
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	font-size: 13pt;
	text-decoration: bold;
}
td.cds {
	border: 0.5mm solid #50d053;
}
td.ce {
	border: 0.5mm solid #72f676;
}
td.pc {
	border: 0.5mm solid #93fda9;
}
td.c {
	border: 0.5mm solid #b7f9bf;
}
td.presence {
	width: 3cm;
}
td.present {
	border: 1mm solid #99cc99;
	color: #f00;
	text-decoration: bold;
}
td.absent {
	border: 1mm solid #ccffcc;
	color: #cccccc;
}
.decompte, .dcpt {
	font-size: 8pt;
}
.locker {
	display: none;
}
div#dFormInfoSup {
	display: none;
}
