.dateGrille {
	float: left;
	width: 50%;
	border-right: .2mm solid #000;
}
.shift {
	font-size: 14pt;
}
.vacances {
	height: 0;
	border: 1mm solid #00f;
}
.charge {
	height: 0;
	border: 1mm solid #f00;
}
.notvacances {
	height: 0;
	border: 1mm solid #fff;
}
.notcharge {
	height: 0;
	border: 1mm solid #fff;
}
.nom {
	font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
	font-size: 13pt;
	text-decoration: bold;
}
.cds {
	border: 0.5mm solid #50d053;
}
.ce {
	border: 0.5mm solid #72f676;
}
.pc {
	border: 0.5mm solid #93fda9;
}
.c {
	border: 0.5mm solid #b7f9bf;
}
.presence {
	width: 3cm;
}
.present {
	color: #111;
	text-decoration: bold;
}
.absent {
	color: #e00;
	background:#ddd;
}
.dcpt {
	font-size: 8pt;
}
.cadenasF, .cadenasO{
	display:none;
} 
.locker {
	visibility:hidden;
}
#dFormInfoSup {
	display: none;
}
