img.online {
	position:absolute;
	left:-48px;
	top:-50px;
	clip:rect(50px, 48px, 74px, 24px);
}
div#onoff {
	position:relative;
	margin: 15px;
	left:50px;
	cursor: pointer;
}
img.offline {
	position:absolute;
	top:-50px;
	left:-24px;
	clip:rect(50px, 24px, 74px, 0);
}
