td {
	width: 6em;
}
.tabCong >table {
	margin:auto;
}
.date {
	font-size: 9px;
}
.filed {
	color: #a00;
}
.confirmed {
	color: #a00;
	text-decoration: line-through;
}
.user {
	font-weight: bold;
}
.pointer {
	cursor: pointer;
}
#dDatePicker {
	width: 200px;
	margin: 10px auto;
	text-align:center;
}
